* {
    box-sizing: border-box;
}

/*
    font-family: 'Recursive', sans-serif;

    font-family: 'Righteous', cursive;

    font-family: 'Roboto', sans-serif;
*/

body {
    background-color: #fb6b6b;
}

.recall {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recall .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recall img {
    width: 136px;
    height: 161px;
    margin-bottom: 13px;
}
.recall h1 {
    font-family: 'Righteous', cursive;
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}
.recall button {
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #d70900;
    background-color: #fff;

    border: 1px solid #d70900;
    border-radius: 5px;
    margin-top: 50px;
    width: 246px;
    height: 54px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
