* {
    box-sizing: border-box;
}

/*
    font-family: 'Recursive', sans-serif;

    font-family: 'Righteous', cursive;

    font-family: 'Roboto', sans-serif;
*/

body {
    background-color: #fb6b6b;
}

.recall {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recall .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recall img {
    width: 136px;
    height: 161px;
    margin-bottom: 13px;
}
.recall h1 {
    font-family: 'Righteous', cursive;
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}
.recall button {
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #d70900;
    background-color: #fff;

    border: 1px solid #d70900;
    border-radius: 5px;
    margin-top: 50px;
    width: 246px;
    height: 54px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

header {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #fb6b6b;
}
header img {
    width: 52px;
    height: 60px;
    margin-right: 25px;
}
header h2 {
    font-family: 'Righteous', cursive;
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.deck {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 70px;

    font-family: 'Recursive', sans-serif;
}
.flashcard {
    width: 300px;
    margin-bottom: 25px;
    padding: 0 15px;

    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.back {
    height: 65px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.back p {
    font-size: 16px;
    font-weight: 700;
    color: #333;
}
.back img {
    width: 20px;
    height: 23px;
}
.front {
    min-height: 131px;
    background-color: #ffffd4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.front p {
    font-size: 18px;
    font-weight: 400;
    color: #333;
    margin: 18px 0;
}
.front img {
    width: 30px;
    height: 20px;
    align-self: flex-end;
    margin-bottom: 6px;
}
.button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}
.button-container button {
    font-family: 'Recursive', sans-serif;
    width: 85px;
    height: 38px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 5px;
}

footer {
    width: 100%;
    height: 70px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    text-align: center;
}